/* Add CSS Styling */

.avatar.proportioned{
    width: 300px;
}

.avatar.distorted{
    width: 200px;
    height: 400px;
}



/* .avatar .distorted{} - This is desendent shit not chaining
    .avatar, .distorted is choosing multiple classes to add the same style not chaining*/